$background-color: rgb(193, 247, 229);
$headfoot-color: #5b4242;
$headfoot_text-color: #fff;
$text-color: rgb(46, 10, 46);
$picture_border_color: black;

$background-color-darkmode: invert($background-color);
$headfoot-color-darkmode: invert($headfoot-color);
$headfoot_text-color-darkmode: invert($headfoot_text-color);
$text-color-darkmode: invert($text-color);