$background-color: rgb(193, 247, 229);
$headfoot-color: #5b4242;
$headfoot_text-color: #fff;
$text-color: rgb(46, 10, 46);
$picture_border_color:black; 

$background-color-darkmode: invert($background-color);
$headfoot-color-darkmode:invert($headfoot-color);
$headfoot_text-color-darkmode:invert($headfoot_text-color);
$text-color-darkmode:invert($text-color);


:root
{
    background-color: $background-color;
    color: $text-color;
    
}


h1 {
    font-size: 3em;
    text-align: center;
    margin: 0.5em;
}

h2 {
    font-size: 2.5em;
    text-align: center;
    margin: 0.5em;
}


.pictureGallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1em;

picture {
    img {
border: $picture_border_color solid 3px;    
transition: filter 100s ease;

  &:hover {
    filter: hue-rotate(7200deg);
  }
}


}




}



* {
    box-sizing: border-box;
max-width: 100vw;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.pagecontent {
min-height: 95.5vh;
}
header, footer {
    text-align: center;
    padding: 1em;
  
    *, & {
      background-color: $headfoot-color;
      color: $headfoot_text-color;
    }
  
    nav {
      ul {
        list-style-type: none;
        padding: 0;
  
        li {
          display: inline;
          margin: 0 3vw;
  
          a {
            text-decoration: none;
            font-size: 2.5vw;
            font-weight: bold;
            padding: 1vw;
            margin: 1vw;
            border-radius: 50%;
            background-color: lighten($headfoot-color, 10%) !important;
  
            &:hover {
              background-color: lighten($headfoot-color, 30%) !important;
              text-decoration: underline;
            }
  
            &:active {
                @extend .activepagemarker;
              background-color: lighten($headfoot-color, 50%) !important;
              text-decoration: underline;
              color: invert($headfoot_text-color);
            }
          }
  
          .activepagemarker {
            border: $headfoot_text-color 2px solid;
          }
        }
      }
    }
  }
  
  footer {
    max-height: 4.5vh;
      
* {
    display: inline-block;
    margin: 0;
}
}

  


main {

    padding: 0.2vw;
}

//darkmode preferences
@media (prefers-color-scheme: dark) {
    * {
        background-color:  $background-color-darkmode;
        color: $text-color-darkmode;
    }

      
    
    
}

@media (max-width: 800px) {
  
    nav ul li a {
        display: block;
        padding: 0.7vw !important;
        margin: 0 30% 0 30% !important;
        font-size: 1.5em !important;
    }
}

@mixin buttonRandomColor {
    background-color: hsl(random(360), 30%, 30%);
    border: none;
    cursor: pointer;
    margin: 5px;
    display: inline-block;
  }
  
  #duckButton {
    @include buttonRandomColor;
  }
  
  #ducksButton {
    @include buttonRandomColor;
  }
  
  #helpButton {
    @include buttonRandomColor;
  }
  
  #geeseButton {
    @include buttonRandomColor;
  }
  