$background-color: aquamarine;
$headfoot-color: #333;
$headfoot_text-color: #fff;
$text-color: rgb(46, 10, 46);

$background-color-darkmode: invert($background-color);
$headfoot-color-darkmode:invert($headfoot-color);
$headfoot_text-color-darkmode:invert($headfoot_text-color);
$text-color-darkmode:invert($text-color);

:root
{
    background-color: $background-color;
    color: $text-color;
    
}


* {
    box-sizing: border-box;
max-width: 100vw;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.pagecontent {
min-height: 95.5vh;
}
header, footer {
    text-align: center;
    padding: 1em;
  
    *, & {
      background-color: $headfoot-color;
      color: $headfoot_text-color;
    }
  
    nav {
      ul {
        list-style-type: none;
        padding: 0;
  
        li {
          display: inline;
          margin: 0 3vw;
  
          a {
            text-decoration: none;
            font-size: 2.5vw;
            font-weight: bold;
            padding: 1vw;
            margin: 1vw;
            border-radius: 50%;
  
            &:hover {
              background-color: lighten($headfoot-color, 10%);
              text-decoration: underline;
            }
  
            &:active {
              background-color: lighten($headfoot-color, 30%);
              text-decoration: underline;
              color: invert($headfoot_text-color);
            }
          }
  
          .activepagemarker {
            border: $headfoot_text-color 2px solid;
          }
        }
      }
    }
  }
  
  footer {
    max-height: 4.5vh;
  }
  


main {

    padding: 0.2vw;
}

//darkmode preferences
@media (prefers-color-scheme: dark) {
    * {
        background-color:  $background-color-darkmode;
        color: $text-color-darkmode;
    }

    header, header *, footer, footer * {
        background-color:$headfoot-color-darkmode;
        color: $headfoot_text-color-darkmode;
    
    }

    .activepagemarker {
        border:$headfoot_text-color-darkmode 2vw solid;
        border-style:solid;
    }
        
    nav ul li {
        &:hover {
            background-color: darken($headfoot-color-darkmode, 10%);
        }
    
        &:active {
            background-color: darken($headfoot-color-darkmode, 30%);
            color: invert($headfoot_text-color-darkmode);
        }
    }
    
    
}

@media (max-width: 600px) {
  
    nav ul li a {
        padding: 0.7vw !important;
        font-size: 1.5em !important;
    }
}